@using EPAM.FoolballManager.Coach.BLL;
@{
    int Player_ID;
    int Card_ID;
    CoachManager addCard = new CoachManager();

    if (IsPost)
    {
        Card_ID = int.Parse(Request["Card_ID"]);
        Player_ID = int.Parse(Request["Player_ID"]);
        addCard.AddCardsToPlayer(Card_ID, Player_ID);
        Response.Redirect("/");
    }
}
<body>
    @if (IsPost)
    {
        <div class="alert-info">
            you add card to player
        </div>
    }
    <p></p>
    <label>please, input Player_ID and Card_ID</label>
    <p></p>
    <form action="/" method="post" class="form">
        <div>
            <label>Player_ID</label>
            <input type="text" name="Player_ID" value="" />
        </div>
        <div>
            <label>Card_ID:</label>
            <input type="text" name="Card_ID" value="" />
        </div>
        <button class="btn-info">+</button>
    </form>
</body>


