@{
    Layout = null;
}

<div>
    <p></p>
    <div>
        <a href="~/MenuPages/AddMenu.cshtml">AddPlayer</a>
    </div>
    <p></p>
    <div>
        <a href="~/MenuPages/DeleteMenu.cshtml">DeletePlayer</a>
    </div>
    <p></p>
    <div>
        <a href="~/MenuPages/ViewMenu.cshtml">ViewPlayer</a>
    </div>
    <p></p>
    <div>
        <a href="~/MenuPages/CardMenu.cshtml">AddCard</a>
    </div>
    <p></p>
    <div>
        <a href="~/MenuPages/ChooseMenu.cshtml">ChoosePlayer</a>
    </div>
    <p></p>
    <div>
        <a href="~/MenuPages/CardMenu.cshtml">CardMenu</a>
    </div>
</div>
