@{
    Layout = null;
}

<div>
    <label>you make delete or add card to player</label>
    

    <button id="addCardToPlayer">add card</button>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script>
        $('#addInjuryToPlayer').click(function () {
            location.href = '/ManipulationPages/AddCard'
        });
    </script>
    <button id="delCardToPlayer">del card</button>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script>
        $('#addInjuryToPlayer').click(function () {
            location.href = '/ManipulationPages/DelCard'
        });
    </script>
</div>

