@using EPAM.FoolballManager.Coach.BLL;

@{
    int ID;
    CoachManager choose = new CoachManager();
    if (IsPost)
    {
        ID = int.Parse(Request["a"]);
        choose.GetPlayerById(ID);
        Response.Redirect("/");
    }
}
<div>
    <label>You make choose players</label>
    <p></p>
    @if (IsPost)
    {
        <div class="alert-info">
            @choose
        </div>
    }
    <form action="/" method="post" class="form">
        <div>
            <label>ID:</label>
            <input type="text" name="ID" value="" />
        </div>
    </form>
    <button id="addPlayer">Choose</button>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    @*<script>
            $('#choosePlayer').click(function () {
                location.href = '/ManipulationPages/ChoosePlayer'
            });
        </script>*@
</div>
