@{


}

<body>
    <div>
        <label>You make view all players</label>
        <button id="viewPlayer">view</button>
        <script src="~/Scripts/jquery-3.0.0.js"></script>
        <script>
            $('#viewPlayer').click(function () {
                location.href = '/ManipulationPages/ViewPlayer'
            });
        </script>
    </div>
</body>

