@{
    Layout = null;
}

<div>
    <label>Menu of DELETE user:</label>
    <p></p>
    <label>input user name:</label>
    <input type="text" name="" value="" />
    <p></p>
    <button id="deleteUser">Delete</button>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script>
        $('#deleteUser').click(function () {
            location.href = '/Pages/deleteUser'
        });
    </script>
</div>
